@font-face {
    font-family: 'AvenirNextLTProRegular';
    src: url('../public/fonts//AvenirNextLTPro/AvenirNextLTPro-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'AvenirNextLTProIt';
    src: url('../public/fonts//AvenirNextLTPro/AvenirNextLTPro-It.otf') format('opentype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'AvenirNextLTProBold';
    src: url('../public/fonts//AvenirNextLTPro/AvenirNextLTPro-Regular.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
